<ion-content>
  <ion-icon id="arrowLeft" routerLink="/home" src="assets\icons\arrow_back.svg"></ion-icon>
  <p id="title"> Lista de Alérgenos</p>
    
  <div class="body">
    <div class="alergeno">
      <div class="box">
        <ion-icon class="allergen" src="assets\icons\allergens\cereales_gluten.svg"></ion-icon>
      </div>
      <div class="allergen-text">CEREALES QUE CONTENGAN GLUTEN</div>
    </div>
    
    <div class="alergeno">
        <div class="box">
          <ion-icon class="allergen" src="assets\icons\allergens\crustaceos.svg"></ion-icon>
        </div>
        <div class="allergen-text">CRUSTÁCEOS Y PRODUCTOS A BASE DE CRUSTÁCEOS</div>
    </div>

    <div class="alergeno">
      <div class="box">
        <ion-icon class="allergen" src="assets\icons\allergens\huevos.svg"></ion-icon>
      </div>
      <div class="allergen-text">HUEVOS Y PRODUCTOS A BASE DE HUEVO</div>
    </div>

    <div class="alergeno">
      <div class="box">
        <ion-icon class="allergen" src="assets\icons\allergens\pescado.svg"></ion-icon>
      </div>
      <div class="allergen-text">PESCADO Y PRODUCTOS A BASE DE PESCADO</div>
    </div>

    <div class="alergeno">
      <div class="box">
        <ion-icon class="allergen" src="assets\icons\allergens\cacahuetes.svg"></ion-icon>
      </div>
      <div class="allergen-text">CACAHUETES Y PRODUCTOS A BASE DE CACAHUETES</div>
    </div>

    <div class="alergeno">
      <div class="box">
        <ion-icon class="allergen" src="assets\icons\allergens\soja.svg"></ion-icon>
      </div>
      <div class="allergen-text">SOJA Y PRODUCTOS A BASE DE SOJA</div>
    </div>

    <div class="alergeno">
      <div class="box">
        <ion-icon class="allergen" src="assets\icons\allergens\leche.svg"></ion-icon>
      </div>
      <div class="allergen-text">LECHE Y SUS DERIVADOS</div>
    </div>
    
    <div class="alergeno">
      <div class="box">
         <ion-icon class="allergen" src="assets\icons\allergens\frutos_cascara.svg"></ion-icon>
      </div>    
      <div class="allergen-text">FRUTOS DE CÁSCARA</div>
    </div>

    <div class="alergeno">
      <div class="box">
         <ion-icon class="allergen" src="assets\icons\allergens\apio.svg"></ion-icon>
      </div>    
      <div class="allergen-text">APIO Y PRODUCTOS DERIVADOS</div>
    </div>

    <div class="alergeno">
      <div class="box">
         <ion-icon class="allergen" src="assets\icons\allergens\mostaza.svg"></ion-icon>
      </div>    
      <div class="allergen-text">MOSTAZA Y PRODUCTOS DERIVADOS</div>
    </div>

    <div class="alergeno">
      <div class="box">
         <ion-icon class="allergen" src="assets\icons\allergens\sesamo.svg"></ion-icon>
      </div>    
      <div class="allergen-text">GRANOS DE SÉSAMO Y PRODUCTOS A BASE DE ELLOS</div>
    </div>

    <div class="alergeno">
      <div class="box">
         <ion-icon class="allergen" src="assets\icons\allergens\azufre_sulfitos.svg"></ion-icon>
      </div>    
      <div class="allergen-text">DIÓXIDO DE AZUFRE Y SULFITOS</div>
    </div>

    <div class="alergeno">
      <div class="box">
         <ion-icon class="allergen" src="assets\icons\allergens\altramuces.svg"></ion-icon>
      </div>    
      <div class="allergen-text">ALTRAMUCES Y PRODUCTOS A BASE DE ALTRAMUCES</div>
    </div>

    <div class="alergeno">
      <div class="box">
         <ion-icon class="allergen" src="assets\icons\allergens\moluscos.svg"></ion-icon>
      </div>    
      <div class="allergen-text">MOLUSCOS Y PRODUCTOS A BASE DE MOLUSCOS</div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>