ion-tab-bar{
    background-color: burlywood;
}

ion-tab-button{
    background-color: burlywood;
}

ion-label{
    color: #5b4040;
    font-weight: bold;
    font-size: 12px;
}

ion-icon{
    color: #423513;
    width: 40px;
    height: 40px;
}