ion-tab-bar{
    background-color: rgb(157, 232, 255);
}

ion-tab-button{
    background-color: rgb(157, 232, 255);
}

ion-label{
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

ion-icon{
    width: 40px;
    height: 40px;
}