@font-face {
    font-family: comforta;
    src: url(/assets/fonts/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: raleway;
    src: url(/assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: ralewayLight;
    src: url(/assets/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: ralewaySemi;
    src: url(/assets/fonts/Raleway-SemiBold.ttf);
}

ion-content{
    --background: antiquewhite;
    --padding-top: 85px;
}

ion-list{
    background: antiquewhite;
    margin-left: 25px;
    margin-right: 25px;
}

#title{
    font-weight: bold;
    font-family: raleway;
    font-size: 20px;
    color:#3B3A39;
    margin:0 auto;
    position:absolute;
    top:23pt;
    left: 60pt;
    width: 100vw;
    z-index: 1;
}

.body{
    font-family: raleway;
}

#arrowLeft{    
    position: absolute;
    top: 23pt;
    left: 30pt;   
    height: 17.5pt;
    width: 20px;
    z-index: 3;
}

ion-item{
    --background: antiquewhite;
}

.category{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}

p{
    color: gray;
}

button{
    color: orangered;
}

.filters{
    display: grid;
    font-family: raleway;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

ion-button{    
    --background: orange ;
    --border-radius: 25px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 5px;
    width: 85%;      
}

#reset{
    --background: lightblue;
    display: flex;
    margin: 0 auto;   
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#allDishes{
    --background: #F86774;
    display: flex;
    margin: 0 auto;   
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.price{
    color: black;
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin-right: 10px;
}

span{
    font-weight: bold;
    color: black;
    font-size: 14px;
}