<ion-content [fullscreen]="true">  
  <ion-icon id="arrowLeft" routerLink="/home" src="assets\icons\arrow_back.svg"></ion-icon>
  <p id="title">Nuestra carta</p>
  <div class="body">

    <div class="filters">
      <ion-button (click)="categoryFilter('Entrantes')">Entrantes</ion-button>
      <ion-button (click)="categoryFilter('Sopas')">Sopas</ion-button>
      <ion-button (click)="categoryFilter('Carnes')">Carnes</ion-button>
      <ion-button (click)="categoryFilter('Pescados')">Pescados</ion-button>
      <ion-button (click)="categoryFilter('Bebidas')">Bebidas</ion-button>
      <ion-button (click)="categoryFilter('Postres')">Postres</ion-button>
      <ion-button (click)="categoryFilter('Vinos')">Vinos</ion-button>
      <ion-button (click)="categoryFilter('Otros')">Otros</ion-button>
    </div>
    <ion-button id="reset" (click)="resetFilter()">Reiniciar Filtro</ion-button>
    <ion-button id="allDishes" (click)="showDishesByCategory()">Ver todo</ion-button>

    <br/>
    <ion-list #lista>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="2" size-sm="6" size-xs="12" *ngFor="let dish of dishes; let i = index">  
          <ion-label>
            <p class="category"><p class="category">{{ dish.category }}</p>
          </ion-label>
          <br/>
         
          <img [src]="'assets/imgs/dishes/' + dish.image" alt="{{ dish.name }}">
          <br/>
          <br/>
          <ion-label>
            <p>{{ dish.name }}. {{ dish['description'] | descriptionName: enable}}</p>
              <button name="descrip-{{ dish.id }}" class="btn btn-info" (click)="enable=!enable">
                {{ enable ? 'Ver más' : 'Ver menos' }}
              </button>
          </ion-label>
          <ion-label>
            <p>Disponible: <span *ngIf="dish.disponibility===1">Sí ✔️</span><span *ngIf="dish.disponibility===0">No ❌</span>
            <span class="price">{{ dish.price }}€</span>
            </p>
            <br/>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
    <!--                                   
              <ion-label *ngIf="fav.length===0">
                <ion-button class="btn btn-info" (click)="saveFav(juego)">
                  <ion-icon name='star-outline'></ion-icon>
                  <ion-label>Agregar a favoritos</ion-label>
                </ion-button>
              </ion-label>
            -->
            
              <!-- <ion-label *ngIf="!dish.liked">
                <ion-button class="btn btn-info" (click)="saveFav(dish)">
                  <ion-icon name='star-outline'></ion-icon>
                  <ion-label>Añadir favorito</ion-label>
                </ion-button>
              </ion-label>
              <br/>
              
              <ion-label *ngFor="let f of fav; let i = index">
                <ion-label *ngIf="f.id===dish.id">                
                  <strong>Producto agregado a Mis favoritos</strong>
                </ion-label>
              </ion-label>
            </div> -->
            <!--<p>Agregar a favoritos:</p>    
            <ion-button size="large" class="btn btn-info" [disabled]="buttons[i]" (click)="buttons[i]=true; saveFav(juego)">
              <ion-icon name='star-outline'></ion-icon>
            </ion-button>                
            -->
          <!-- </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid> -->

    

    <!-- 
         <ion-thumbnail>
            <img data-src="dish['image']"> 
            <img data-src="{{dish.image}}">             
          </ion-thumbnail> 
        -->              
</ion-content>