<ion-content [fullscreen]="true">
  <ion-icon id="arrowLeft" routerLink="/settings" src="assets\icons\volver.svg"></ion-icon>
  <div class="body">
    <h1>Política de Privacidad</h1>
    <p>
      La presente Política de Privacidad establece los términos y condiciones bajo los cuales se recopila, utiliza y protege la información personal proporcionada por los usuarios al interactuar con nuestros servicios
      en línea. Nos comprometemos a garantizar la confidencialidad y seguridad de los datos personales de nuestros usuarios, cumpliendo con la normativa vigente en materia de protección de datos.
    </p>
    <h2>Recopilación de información personal</h2>
    <p>
      Al utilizar nuestro sitio web y nuestros servicios, es posible que se recopile cierta información personal de los usuarios, la cual podrá incluir, entre otros datos, nombres, direcciones de correo electrónico, números de teléfono y direcciones físicas. Esta información se obtiene de forma voluntaria por parte de los usuarios al registrarse en nuestra plataforma o al proporcionarla en el contexto de la interacción con nuestros servicios.
    </p>
    <h2>Uso de la información personal</h2>

    <p>
      La información personal recopilada se utiliza con el propósito de brindar un servicio eficiente y personalizado a nuestros usuarios. Podremos utilizarla para:
      Procesar y gestionar solicitudes de productos o servicios.
      Mantener una comunicación efectiva con los usuarios, responder a consultas y brindar asistencia técnica.
      Mejorar nuestros productos y servicios, a través de análisis y estudios de mercado.
      Personalizar la experiencia del usuario y proporcionar contenido relevante.
      Cumplir con obligaciones legales y regulaciones aplicables.
      Divulgación de información personal
    </p>
    <p>
    <p>No compartiremos, venderemos ni cederemos la información personal de nuestros usuarios a terceros, excepto en los casos en que sea necesario para cumplir con obligaciones legales o cuando contemos con el consentimiento expreso del usuario.</p>

    <h2>Seguridad de la información personal</h2>
    <p>
      Implementamos medidas de seguridad adecuadas para proteger la información personal de nuestros usuarios contra accesos no autorizados, alteraciones, divulgaciones o destrucciones indebidas. Utilizamos tecnología de encriptación y otras herramientas de seguridad para garantizar la confidencialidad y la integridad de los datos.
    </p>

    <h2>Enlaces a sitios web de terceros</h2>
      <p>Nuestro sitio web puede contener enlaces a otros sitios web de terceros. No nos hacemos responsables de las prácticas de privacidad o el contenido de dichos sitios web. Recomendamos a los usuarios revisar las políticas de privacidad de esos sitios antes de proporcionar cualquier información personal.</p>

    <h2>Cambios a la Política de Privacidad</h2>

    <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento y sin previo aviso. Las modificaciones entrarán en vigencia a partir de su publicación en nuestro sitio web. Se alienta a los usuarios a revisar periódicamente esta Política de Privacidad para estar informados sobre cómo se recopila, utiliza y protege su información personal.</p>

    <h2>Contacto</h2>
    <p>
      Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad o sobre el tratamiento de tus datos personales, puedes ponerte en contacto con nosotros a través de los medios proporcionados en nuestro sitio web.
    </p>
    <p>
      Última actualización: 06/06/2023.
    </p>
  </div>
</ion-content>
<app-footer></app-footer>
