<ion-content [fullscreen]="true">
  <ion-icon id="arrowLeft" routerLink="/settings" src="assets\icons\volver.svg"></ion-icon>
  <div class="body">
    <h1>Términos y Condiciones</h1>
    <p>
      Bienvenido/a a nuestro sitio web. Antes de utilizar nuestros servicios, te solicitamos leer detenidamente los siguientes términos y condiciones, que rigen el uso de nuestro sitio web y la relación entre el usuario y nosotros.
      Al acceder y utilizar nuestro sitio, aceptas cumplir con estos términos y condiciones en su totalidad.
    </p>
    <h2>Uso del sitio web</h2>
    <p>
      a) El uso de nuestro sitio web está sujeto a las leyes y regulaciones aplicables. Queda prohibido cualquier uso del sitio que viole dichas leyes o interfiera con el funcionamiento normal del mismo.
    </p>
    <p>
      b) No se permite utilizar nuestro sitio para actividades fraudulentas, ilegales o difamatorias. Además, no se permite el envío de contenido malicioso, virus o cualquier otro tipo de software dañino.
    </p>
    <p>
      c) El contenido del sitio web es propiedad exclusiva nuestra o de nuestros licenciantes. Queda prohibida cualquier reproducción, distribución o uso no autorizado del contenido sin nuestro consentimiento expreso.
    </p>
    <h2>Registro y cuenta de usuario</h2>

    <p>
      a) Al registrarte en nuestro sitio web, garantizas que la información proporcionada es veraz, completa y precisa. Es tu responsabilidad mantener actualizados tus datos personales.      
    </p>
    
    <p>b) La cuenta de usuario es personal e intransferible. Eres responsable de mantener la confidencialidad de tu información de inicio de sesión y de las actividades realizadas desde tu cuenta.</p>

    <p>
      c) Nos reservamos el derecho de suspender o cancelar tu cuenta en caso de incumplimiento de estos términos y condiciones o si consideramos que tu conducta es perjudicial para nuestro sitio web o para otros usuarios.
    </p>

    <h2>Propiedad intelectual</h2>
    <p>
      a) Todos los derechos de propiedad intelectual relacionados con el contenido y diseño del sitio web, incluyendo pero no limitándose a textos, gráficos, logotipos, imágenes y software, son propiedad nuestra o de nuestros licenciantes.
    </p>
    <p>
      b) Queda estrictamente prohibido cualquier uso no autorizado de los derechos de propiedad intelectual sin nuestro consentimiento previo por escrito.
    </p>    

    <h2>Enlaces a sitios web de terceros</h2>
      <p>a) Nuestro sitio web puede contener enlaces a sitios web de terceros. No nos hacemos responsables de la disponibilidad, contenido, publicidad o prácticas de privacidad de dichos sitios. El acceso y uso de los sitios de terceros están sujetos a los términos y condiciones específicos de cada sitio.</p>
      <p>b) No nos hacemos responsables de cualquier daño o perjuicio, directo o indirecto, derivado del uso del sitio web, incluyendo pero no limitándose a pérdida de datos, interrupción del negocio o cualquier otro tipo de pérdida financiera.</p>


    <h2>Modificaciones de los términos y condiciones
    </h2>

    <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y sin previo aviso. Las modificaciones entrarán en vigencia a partir de su publicación en nuestro sitio web. Se recomienda a los usuarios revisar periódicamente estos términos y condiciones para estar informados de las actualizaciones.
    </p>

    <h2>Ley aplicable y jurisdicción
    </h2>
    <p>
      Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del país en el que estamos ubicados. Cualquier disputa que surja en relación con estos términos y condiciones estará sujeta a la jurisdicción exclusiva de los tribunales competentes en dicha ubicación.
    </p>
    <p>
      Última actualización: 06/06/2023.
    </p>
  </div>
</ion-content>
<app-footer></app-footer>