ion-content {
    --background: url("/assets/imgs/base-background.jpg");
    width: 105%;
    height: 100%;
}
.logo {
    position: absolute;
    width: 12%;
    margin-left: 15px;
    margin-top: 32px;
}
.p-login {
    font-family: raleway;
    color: white;
    font-size: 33px;
    margin-top: 47%;
    margin-left: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
ion-item {
    width: 83%;
    margin-left: 21px;
    border-radius: 5px;
    margin-bottom: 28px;
}

.text {
    color: #2B4647;
    font-family: ralewaySemi;
}
.contrasenia-olvidada{
    text-decoration: underline;
    color: white;
    font-family: raleway;
    margin-left: 20px;
}
.btn {
    text-transform: initial;
    color: white;
    background-color: #DE4553;
    width: 83%;
    font-family: raleway;
    border-radius: 5px;
    margin-left: 20px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 70px;
}
.acceder{
    margin-left: 10px;
    font-family: raleway;
    }
    
    .irRegistro {
        display: flex;
        color: white;
        font-family: raleway;
        margin-left: 55px;
        margin-bottom: 20px;
    }