<ion-content>
  <p class="p-registro">Registro</p>
  <form *ngIf="formRegister" [formGroup]="formRegister" (ngSubmit)="submitForm()">
    <!-- NOMBRE -->
    <ion-label *ngIf="formRegister.controls.name.errors?.['required'] && 
    (formRegister.controls['name'].touched || formRegister.controls['name'].dirty)"><!-- esto es para evitar que el validador muestre errores antes de que el usuario tenga la oportunidad de enviar el formulario-->
      El nombre es requerido.
    </ion-label>
    <!--<br>
     <ion-label *ngIf="formRegister.controls['name'].invalid && formRegister.controls['name'].touched">
      Debe introducir sólo letras.
    </ion-label> -->
    <!-- <br>
    <ion-label *ngIf="formRegister.controls.name.errors?.['maxlength']">
      Nombre como máximo 25 caracteres.
    </ion-label> -->    
    <ion-label *ngIf="formRegister.controls.name.errors?.['pattern']">
      Solo se permiten letras.
    </ion-label>

    <ion-item>
      <ion-input clearInput type="text" class="text" name="name" placeholder="Nombre" formControlName="name" maxlength="25" required></ion-input><!--[value]="user?.id"-->      
    </ion-item>
    <br>
    <!-- APELLIDO 1 -->
    <!-- <ion-label *ngIf="formRegister.controls['surname1'].invalid && formRegister.controls['surname1'].touched">
      Debe introducir sólo letras.
    </ion-label>
    <br> -->
    <!-- <ion-label *ngIf="formRegister.controls.surname1.errors?.['maxlength']">
      Apellido como máximo 25 caracteres.
    </ion-label>
    <br>     -->
    <ion-label *ngIf="formRegister.controls.surname1.errors?.['required'] && (formRegister.controls['surname1'].touched || formRegister.controls['surname1'].dirty)">
      El apellido 1 es requerido.
    </ion-label>
    <ion-label *ngIf="formRegister.controls.surname1.errors?.['pattern']">
      Solo se permiten letras.
    </ion-label>

    <ion-item>
      <ion-input clearInput type="text" class="text" name="surname1" placeholder="Apellido 1" formControlName="surname1" maxlength="30" required></ion-input><!--[value]="user?.id"-->      
    </ion-item>    
    <br>

    <!-- APELLIDO 2 -->
    <ion-label *ngIf="formRegister.controls.surname2.errors?.['required'] && (formRegister.controls['surname2'].touched || formRegister.controls['surname2'].dirty)">
      El apellido 2 es requerido.
    </ion-label>
    <!-- <ion-label *ngIf="formRegister.controls['surname2'].invalid && formRegister.controls['surname2'].touched">
      Debe introducir sólo letras.
    </ion-label>     -->
    <!-- <ion-label *ngIf="formRegister.controls.surname2.errors?.['maxlength']">
      Nombre como máximo 25 caracteres.
    </ion-label> 
    <br>-->
    <ion-label *ngIf="formRegister.controls.surname2.errors?.['pattern']">
      Solo se permiten letras.
    </ion-label>

    <ion-item>
      <ion-input clearInput type="text" class="text" name="surname2" placeholder="Apellido 2" formControlName="surname2" maxlength="30" required></ion-input>
    </ion-item>
    <br>

    <!-- TLF -->
    <ion-label *ngIf="formRegister.controls.telephone.errors?.['required'] && (formRegister.controls['telephone'].touched || formRegister.controls['telephone'].dirty)">
      El teléfono es requerido.
    </ion-label>
    <ion-label *ngIf="formRegister.controls.telephone.errors?.['pattern']">
      Use un teléfono válido. Ej: 956112233
    </ion-label>

    <ion-item>
      <ion-input clearInput type="tel" class="text" name="telephone" placeholder="Teléfono" maxlength="9" formControlName="telephone" required></ion-input>
    </ion-item>        
    <br>

    <!-- DIRECCION -->    
    <ion-item>
      <ion-textarea clearInput class="text" name="address" placeholder="Dirección..." formControlName="address" required></ion-textarea>
    </ion-item>
    <br>

    <!-- EMAIL -->
    <ion-label *ngIf="formRegister.controls.email.errors?.['required'] &&
     (formRegister.controls['email'].touched || formRegister.controls['email'].dirty)">
      El correo es requerido.
    </ion-label>
    <ion-label *ngIf="formRegister.controls.email.errors?.['pattern']">
      Use un email válido.
    </ion-label>  

    <ion-item>
      <ion-input clearInput type="email" class="text" name="email" placeholder="Email" formControlName="email" required></ion-input>  
    </ion-item>
    <br>

    <!-- USERNAME -->
    <ion-item>
      <ion-input clearInput type="text" class="text" name="username" placeholder="Nombre de usuario" formControlName="username" required></ion-input><!--[value]="user?.id"-->      
    </ion-item>
    <br>

    <!-- PWD -->
    <ion-label *ngIf="formRegister.controls['password'].invalid && formRegister.controls['password'].touched">
      La contraseña debe ser mínimo 6 caracteres
    </ion-label>

    <ion-item>
      <ion-input clearInput type="password" class="text" name="password" placeholder="Contraseña" formControlName="password" required></ion-input>     
    </ion-item>
    <br>

    <!-- REP PWD -->
    <ion-label *ngIf="formRegister.controls['c_password'].invalid && formRegister.controls['c_password'].touched">
      Las contraseñas no coinciden
    </ion-label>    
    
    <ion-item>
      <ion-input clearInput type="password" class="text" name="c_password" placeholder="Confirmar contraseña" formControlName="c_password" required></ion-input>      
    </ion-item>
    <br>   
    
    <ion-button class="btn" type="submit" fill="clear" [disabled]="!formRegister.valid">Registrarme</ion-button>
  </form>
  <span class="irLogin"><p>¿Ya tienes una cuenta?</p><p class="acceder" [routerLink]="['/login']">Acceder</p></span>
</ion-content>