<ion-content>
  <div class="fondo">
    <ion-header class="ion-no-border">
      <div class="logo"><ion-img src="assets/icons/icon.png"></ion-img></div>
    </ion-header>

    <div class="saludo">
      <div class="hey">Bienvenido/a <p class="username">{{ user?.data.name }}</p>,</div> ¡Cómete el mundo!      
    </div>  
    
    <p class="text">Novedades</p>
    <p class="text">POR FAVOR, INFORME AL CAMARERO CUANDO LE TOMEN NOTA SI PADECE DE ALGÚN ALÉRGENO, ¡GRACIAS!</p>
    <ion-button routerLink="/allergens" color="warning">Más información</ion-button>

    <div class="allergens">
        <ion-img src="assets/icons/allergens/altramuces.png"></ion-img>
        <ion-img src="assets/icons/allergens/apio.png"></ion-img>
        <ion-img src="assets/icons/allergens/cacahuetes.png"></ion-img>
        <ion-img src="assets/icons/allergens/crustaceos.png"></ion-img>
        <ion-img src="assets/icons/allergens/frutos_cascara.png"></ion-img>
        <ion-img src="assets/icons/allergens/gluten.png"></ion-img>
        <ion-img src="assets/icons/allergens/huevos.png"></ion-img>
        <ion-img src="assets/icons/allergens/lacteos.png"></ion-img>
        <ion-img src="assets/icons/allergens/moluscos.png"></ion-img>
        <ion-img src="assets/icons/allergens/mostaza.png"></ion-img>
        <ion-img src="assets/icons/allergens/pescado.png"></ion-img>
        <ion-img src="assets/icons/allergens/sesamo.png"></ion-img>
        <ion-img src="assets/icons/allergens/soja.png"></ion-img>
    </div>
      <!-- <div>
        <video id="video" width="320" height="240" controls autoplay>
          <source [src]="{{ video.url }}"> 
          
         <source src=".\assets\videos\bg-video.mp4">
          Your browser does not support the video tag.
        </video>
      </div> -->               
  </div>
</ion-content>
<app-footer [type]="type"></app-footer>