@font-face {
    font-family: comforta;
    src: url(/assets/fonts/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: raleway;
    src: url(/assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: ralewayLight;
    src: url(/assets/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: ralewaySemi;
    src: url(/assets/fonts/Raleway-SemiBold.ttf);
}

ion-content{
    --background: antiquewhite;
}

.allergens{
    display: flex;
    flex-wrap: wrap;
}

.allergens ion-img{
    margin: 0 auto;
    width: 100px;
    height: 115px;    
}

.logo {
    position: absolute;
    width: 20%;
    margin-left: 30px;
    margin-top: 30px;
}

.saludo {
    color: #ff5f00;
    padding-top: 30%;
    margin-left: 13px;
    font-family: comforta;
}

.hey {
    display: flex;
}

.username {
    margin-left: 5px;
    margin-top: 1px;
    color: #F86774;
    font-weight: 600;
}

.text{
    color: #ff5f00;
    margin-left: 13px;
    font-family: comforta;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 60px;
}

ion-item{
    --background: antiquewhite;
    text-align: center;
}

ion-button{
    background: #ff5f00;;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    margin-left: 10px;
    margin-right: 5px;   
}