<ion-content>
  <div class="fondo">
    <ion-header class="ion-no-border">
      <div class="logo"><ion-img src="assets/icons/icon.png"></ion-img></div>
      <div class="cart"><ion-icon name="cart-outline"></ion-icon></div>
    </ion-header>

    <div class="saludo">
      <div class="hey">Bienvenido/a <p class="username">{{ user?.name }}</p>,</div> ¡Cómete el mundo!
    </div>
    <div class="container3">
      <p class="todos-los-cursos">Nuestros platos</p>

      <div>
        <video id="video" width="320" height="240" controls autoplay>
          <!-- <source [src]="{{ video.url }}"> -->
          
          <!--<source src=".\assets\videos\bg-video.mp4">-->
          Your browser does not support the video tag.
        </video>
      </div>
      
      <div class="cursos" routerLink="/payment">
        <div class="container-img-words">
          <ion-img src="assets/imgs/curso1.png" class="image"></ion-img>
          <div class="texto">
            <h3>Marcos Álvarez</h3>
            <p class="descripcion">Lorem ipsum dolor sit amet ad lipsinc</p>
            <p class="deporte">Baloncesto</p>
          </div>
        </div>      

        <div class="container-img-words">
          <ion-img src="assets/imgs/curso2.png" class="image"></ion-img>
          <div class="texto">
            <h3>Lara Aguado</h3>
            <p class="descripcion">Lorem ipsum dolor sit amet ad lipsinc</p>
            <p class="deporte">Pádel</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>