<ion-content>
  <div id="container">
    <p id="title"><ion-icon id="arrowLeft" routerLink="/profile" src="assets\icons\volver.svg"></ion-icon> Editar perfil</p>
    
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <div id="avatarContainer">
        <ion-avatar id="avatar">          
          <!-- <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>    -->
          <img alt="avatar" src="assets\icons\icon.png"/>       
          <ion-icon id="camera" click="loadPhoto()" src="assets\icons\camera.svg"></ion-icon>         
        </ion-avatar>
      </div>

      <div id="body">
          <ion-label *ngIf="form.controls.name.errors?.['pattern']">
            Solo se permiten letras.
          </ion-label>
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="name" class="custom" type="text" name="name" placeholder="Tu nombre" value="{{ user?.data.name }}"></ion-input>
          </ion-label>

          <ion-label class="labels" position="stacked">
            <ion-input formControlName="surname1" class="custom" type="text" name="surname1" placeholder="Apellido 1" value="{{ user?.data.surname1 }}"></ion-input>
          </ion-label>

          <ion-label class="labels" position="stacked">
            <ion-input formControlName="surname2" class="custom" type="text" name="surname2" placeholder="Apellido 2" value="{{ user?.data.surname2 }}"></ion-input>
          </ion-label>

          <ion-label class="labels" position="stacked">
            <ion-input formControlName="telephone" class="custom" type="number" name="telephone" placeholder="Teléfono" value="{{ user?.data.telephone }}"></ion-input>
          </ion-label>                        
      
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="email" class="custom" type="email" name="email" placeholder="Correo electrónico" value="{{ user?.data.email }}"></ion-input>
          </ion-label>
       
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="password" class="custom" type="password" name="password" placeholder="Introduce la nueva contraseña"></ion-input>
          </ion-label>
        
          <ion-label class="labels" position="stacked">
            <ion-input class="custom" type="password" placeholder="Repite la contraseña"></ion-input>
          </ion-label>
      </div>
      <ion-button type="submit" routerLink="/profile" id="save" mode="ios" expand="block">Guardar cambios</ion-button> <!-- click="save()"-->
    </form>    
  </div>
</ion-content>
