<ion-content>
  <div id="container">
    <p id="title"><ion-icon id="arrowLeft" routerLink="/profile" src="assets\icons\volver.svg"></ion-icon> Editar perfil</p>
    
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <div id="avatarContainer">
        <ion-avatar id="avatar">          
          <!-- <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>    -->
          <img alt="avatar" src="assets\icons\icon.png"/>       
          <ion-icon id="camera" click="loadPhoto()" src="assets\icons\camera.svg"></ion-icon>         
        </ion-avatar>
      </div>

      <div id="body">
          <ion-label *ngIf="form.controls.name.errors?.['pattern']">
            Solo se permiten letras.
          </ion-label>         
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="name" class="custom" type="text" name="name" placeholder="Tu nombre" value="{{ user?.data.name }}"></ion-input>
          </ion-label>

          <ion-label *ngIf="form.controls.surname1.errors?.['pattern']">
            Solo se permiten letras.
          </ion-label>
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="surname1" class="custom" type="text" name="surname1" placeholder="Apellido 1" value="{{ user?.data.surname1 }}"></ion-input>
          </ion-label>

          <ion-label *ngIf="form.controls.surname2.errors?.['pattern']">
            Solo se permiten letras.
          </ion-label>
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="surname2" class="custom" type="text" name="surname2" placeholder="Apellido 2" value="{{ user?.data.surname2 }}"></ion-input>
          </ion-label>

          <!-- TLF -->         
          <ion-label *ngIf="form.controls.telephone.errors?.['pattern']">
            Use un teléfono válido. Ej: 956112233
          </ion-label>
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="telephone" class="custom" type="tel" name="telephone" placeholder="Teléfono" maxlength="9" value="{{ user?.data.telephone }}"></ion-input>
          </ion-label>    
          
          <!-- DIRECCION -->
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="address" class="custom" type="text" name="address" placeholder="Dirección" value="{{ user?.data.address }}"></ion-input>
          </ion-label> 
      
          <!-- EMAIL -->
          <ion-label *ngIf="form.controls.email.errors?.['pattern']">
            Use un email válido.
          </ion-label> 
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="email" class="custom" type="email" name="email" placeholder="Correo electrónico" value="{{ user?.data.email }}"></ion-input>
          </ion-label>
       
          <!-- PWD -->
          <ion-label *ngIf="form.controls['password'].invalid">
            La contraseña debe ser mínimo 6 caracteres
          </ion-label>
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="password" class="custom" type="password" name="password" placeholder="Introduce la nueva contraseña"></ion-input>
          </ion-label>
        
          <!-- REP PWD -->
          <ion-label *ngIf="form.controls['password_confirmation'].invalid">
            Las contraseñas no coinciden
          </ion-label> 
          <ion-label class="labels" position="stacked">
            <ion-input formControlName="password_confirmation" class="custom" type="password" name="password_confirmation" placeholder="Repite la contraseña"></ion-input>
          </ion-label>
      </div>
      <ion-button type="submit" [disabled]="!form.valid" mode="ios" expand="block">Guardar cambios</ion-button> <!-- click="save()"-->
    </form>    
  </div>
</ion-content>
